SQUARE_ACCESS_TOKEN=your_square_access_token_here
SQUARE_LOCATION_ID=your_location_id_here
SQUARE_VERSION=2023-08-16
SQUARE_BASE_URL=https://connect.squareup.com/v2

DB_USER=jingli
DB_HOST=localhost
DB_NAME=caulililiflower
DB_PASSWORD=
DB_PORT=5432
